td {
  width:20px;
  height:20px;
  outline:1px solid black;
}

.bomb.cell {
  outline-color:red;
}

.covered.cell {
  background-color:black;
}
.uncovered.cell {
  background-color:white;
}

.flagged.cell {
  background-color:palevioletred;
}

.questioned.cell {
  background-color:yellow;
}
