.status {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: flex-end;
}
.clock, .bomb-count {
  display: flex;
  justify-content: center;
}
.seven-seg{
  background: url('/sprites.png') no-repeat;
  height:23px;
  width:13px;
}
.placeholder {
  background: none;
}
.num1{
  background-position: -2px -2px;
}
.num2{
  background-position: -16px -2px;
}
.num3{
  background-position: -30px -2px;
}
.num4{
  background-position: -44px -2px;
}
.num5{
  background-position: -58px -2px;
}
.num6{
  background-position: -72px -2px;
}
.num7{
  background-position: -86px -2px;
}
.num8{
  background-position: -100px -2px;
}
.num9{
  background-position: -114px -2px;
}
.num0{
  background-position: -128px -2px;
}

.emote {
  background: url('/sprites.png') no-repeat;
  height:26px;
  width:26px;
}

.happy {
  background-position: -2px -26px;
}

.happy:active {
  background-position: -29px -26px;
}

.won {
  background-position: -83px -26px;
}

.lost {
  background-position: -110px -26px;
}
